.img-product{
    padding: 5px;
    .img-principal{
        width: 400px;
        object-fit: cover;
        border-radius: 5px;
    }
    .img-preview{
        display: flex;
        justify-content: center;
        img{
            object-fit: cover;
            width: 80px;
            height: 60px;
            margin: 5px;
        }
    }
}
