.cont-contenedor-ofertas{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.contenedor-ofertas{
    border: 1px solid #f2f2f2;
    box-shadow: -1px -2px 27px -8px rgba(82,82,82,0.75);
    .t-oferta{
        margin-left: 10px;
        h2{
            width: fit-content;
            padding: 5px;
            background: $gradient-o;
            color: #f1f1f1;
            font-family: 'Merriweather Sans', sans-serif;
        }
    }
    .anterior, .siguiente{
        background-color: transparent;
        border: none;
        margin: 4px;
        i{
            font-size: 40px;
        }
    }
    .ofertas{
        display: flex;
    }
}
