$color-o : #F6BE8B;
$color-g : #E1DBA0;
$gradient-o : linear-gradient(90deg, rgba(240,135,45,1) 0%, rgba(245,151,70,1) 33%, rgba(246,190,139,1) 100%);
$border : 1px solid #333;
$border1 : 1px solid #bebebe;