$color-o : #F6BE8B;
$color-g : #E1DBA0;
$gradient-o : linear-gradient(90deg, rgba(240,135,45,1) 0%, rgba(245,151,70,1) 33%, rgba(246,190,139,1) 100%);
$gradient-g : linear-gradient(90deg, rgba(214,204,103,1) 0%, rgba(218,209,118,1) 50%, rgba(225,219,160,1) 100%);
$gradient-c : linear-gradient(90deg, rgba(246,190,139,1) 0%, rgba(237,203,148,1) 35%, rgba(225,219,160,1) 100%);
$border : 1px solid #333;
$border1 : 1px solid #bebebe;
$shadow : 5px 5px 5px #afafaf;