@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1 {
  display: none;
}

#carouselExampleControls {
  border: 1px solid #999;
}

.navegador {
  width: 100%;
  background-color: #F6BE8B;
}
.navegador ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 2rem;
  padding: 2px;
  margin-bottom: 0px;
}
.navegador ul li a {
  text-decoration: none;
  color: #000000;
}
.navegador ul li a h6 {
  font-size: 18px;
}
.navegador ul li a .carro-txt {
  display: none;
}
.navegador form input {
  width: 300px;
}
.navegador form input:hover {
  border: none;
}
.navegador form input:focus {
  border: none;
}
.navegador form button {
  border: 1px solid #333;
}
.navegador form button:hover {
  background-color: #f2a664;
  border: 1px solid #333;
}
.navegador .form-mobile {
  display: none;
}
.navegador .menu {
  display: none;
}

.nav-mobile {
  display: none;
}

.carrito-img {
  width: 30px;
  height: auto;
}

.inicio-logo {
  width: 65px;
  margin: 5px;
}

.container-target {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
}

.producto {
  width: 270px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 0px 0px 5px 5px;
}
.producto:hover {
  transform: 0.5s;
  box-shadow: 5px 5px 5px #999;
}
.producto img {
  border-bottom: 1px solid #000000;
  border-radius: 5px 5px 0px 0px;
  padding-bottom: 5px;
  width: 100%;
  height: 230px;
  object-fit: cover;
}
.producto h4, .producto h5, .producto h6 {
  text-align: start;
  font-size: 16px;
}
.producto h5 {
  color: rgba(51, 51, 51, 0.6235294118);
}

.img-product {
  padding: 5px;
}
.img-product .img-principal {
  width: 400px;
  object-fit: cover;
  border-radius: 5px;
}
.img-product .img-preview {
  display: flex;
  justify-content: center;
}
.img-product .img-preview img {
  object-fit: cover;
  width: 80px;
  height: 60px;
  margin: 5px;
}

.container-product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.buy-product {
  width: 400px;
  padding-left: 20px;
}
.buy-product h4, .buy-product h5 {
  text-align: start;
  margin-bottom: 20px;
}
.buy-product h4 {
  font-size: 30px;
}
.buy-product h5 {
  font-size: 16px;
}
.buy-product h5 img {
  width: 40px;
}
.buy-product .tamaño {
  margin: 0px 20px 20px 0px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 16px;
}
.buy-product .tamaño:hover {
  background-color: #F6BE8B;
}
.buy-product .tamaño:focus {
  background-color: #F6BE8B;
}
.buy-product .buy-now, .buy-product .agregar-carrito {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  background-color: #F6BE8B;
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 18px;
}
.buy-product .buy-now:hover, .buy-product .agregar-carrito:hover {
  background-color: #f2a664;
}

.productos-similares {
  display: flex;
  justify-content: center;
  margin: 10px;
  flex-wrap: wrap;
}

.target-similares {
  margin: 10px;
}

.container-subtitulo .subtitulo-similares {
  border: 1px solid;
  border-radius: 20px;
  background-color: #f5f5f5;
  width: 400px;
  padding: 2px;
  font-size: 24px;
  text-align: center;
}

.pasos-compra {
  width: 100%;
  margin: 5rem 0px;
}
.pasos-compra ol {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 0px 60px;
}
.pasos-compra ol .principal {
  font-size: 34px;
  border-bottom: 1px solid #000000;
}
.pasos-compra ol h3 {
  font-size: 34px;
  border-bottom: 1px solid rgba(82, 82, 82, 0.479);
  color: rgba(82, 82, 82, 0.479);
}

.contenedor-carro {
  display: flex;
  justify-content: space-around;
}

.contenedor-producto-carro {
  border-bottom: 1px solid #333;
}
.contenedor-producto-carro h2 {
  margin-bottom: 40px;
  font-size: 28px;
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
}

.producto-carro-descripcion {
  display: flex;
  margin-bottom: 30px;
}
.producto-carro-descripcion img {
  width: 90px;
  height: 100px;
  object-fit: cover;
}

.descripcion-texto-carro h5 {
  padding-left: 20px;
  margin-bottom: 10px;
}
.descripcion-texto-carro p {
  padding-left: 20px;
  margin-bottom: 10px;
}
.descripcion-texto-carro strong {
  padding-left: 20px;
}

.cantidad-producto-carro {
  display: flex;
  align-items: center;
  margin-left: 100px;
}
.cantidad-producto-carro .number {
  text-align: center;
  width: 50px;
  height: 28px;
}

.siguiente-carro {
  margin: 20px 280px;
}
.siguiente-carro button {
  width: 200px;
  background-color: #F6BE8B;
  border: 1px solid #333;
  font-size: 24px;
}
.siguiente-carro button:hover {
  background-color: #f2a664;
}

.contenedor-subtotal {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
}

.suma-carro h4 {
  width: 300px;
  margin-bottom: 40px;
  font-size: 28px;
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
}
.suma-carro input {
  width: 100%;
  padding-bottom: 10px;
  border: none;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
}
.suma-carro input:focus {
  outline: none;
}

.total-carro {
  display: flex;
  justify-content: space-between;
}

.container-subtitulo {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}

.subtitulo {
  border: 1px solid;
  border-radius: 20px;
  background-color: #f5f5f5;
  width: 400px;
  padding: 2px;
  margin: 0px;
}

.subtitulo-contacto {
  margin-top: 1rem;
  font-size: 35px;
  text-align: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-items: start;
  border: 1px solid #333;
  border-radius: 3px;
  width: 500px;
  margin: 20px;
  padding: 10px;
  gap: 15px;
}
.formulario label {
  display: flex;
  justify-items: start;
}
.formulario input, .formulario textarea {
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #E1DBA0;
  text-align: start;
  width: 480px;
}
.formulario input {
  height: 25px;
  font-size: 15px;
  padding-left: 10px;
}
.formulario textarea {
  height: 150px;
}
.formulario .enviar {
  text-align: center;
  width: 480px;
  height: 45px;
  background-color: #F6BE8B;
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 24px;
}

.container-contactanos {
  display: flex;
  justify-content: center;
}

.info-contacto {
  border: 1px solid #333;
  width: 500px;
  padding: 10px;
  margin: 20px;
  font-size: 25px;
}
.info-contacto .email-logo {
  width: 24px;
}
.info-contacto h6 {
  display: flex;
  justify-items: start;
  padding: 10px 15px;
}
.info-contacto iframe {
  width: 470px;
  height: 300px;
}

.contenedor-footer {
  background-color: #E1DBA0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 40px;
  text-align: center;
}
.contenedor-footer ul li {
  font-weight: 300;
}
.contenedor-footer ul li a {
  text-decoration: none;
  color: #000000;
}

.pie-pagina ul {
  list-style: none;
  margin-bottom: 0px;
  font-weight: bold;
}

.pie-navegacion li, .pie-contacto li {
  margin-top: 15px;
}

.pie-contacto img {
  width: 24px;
}

.pie-medios-pago li img {
  object-fit: cover;
  width: 50px;
  margin-top: 6px;
}

.pie-redes img {
  object-fit: cover;
  width: 37px;
  margin-top: 5px;
}

.whatsapp {
  position: fixed;
  bottom: 150px;
  right: 30px;
}

@media (max-width: 992px) {
  .contenedor-carro {
    flex-direction: column;
    align-items: center;
  }
  .suma-carro {
    margin-top: 20px;
  }
  .suma-carro h4 {
    width: 250px;
  }
  .siguiente-carro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  .pasos-compra {
    display: none;
  }
  .contenedor-producto-carro {
    margin-top: 40px;
  }
  .cantidad-producto-carro {
    margin-left: 30px;
  }
  .container-product {
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
  }
  .buy-product {
    width: 400px;
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;
  }
  .contenedor-footer {
    grid-template-columns: 1fr 1fr;
    text-align: start;
  }
  .contenedor-footer .pie-navegacion, .contenedor-footer .pie-contacto {
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .info-contacto, .formulario {
    width: 95vw;
  }
  .formulario .enviar {
    width: 90vw;
  }
  .formulario input, .formulario textarea {
    width: 90vw;
  }
  .info-contacto iframe {
    width: 90vw;
    height: 400px;
  }
  .contenedor-footer {
    grid-template-columns: 1fr;
    text-align: start;
  }
  .contenedor-footer ul {
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .buy-product {
    width: 90vw;
  }
  .img-product {
    width: 90vw;
  }
  .img-product .img {
    width: 88vw;
  }
  .img-product .img-principal {
    width: 88vw;
  }
  .conteiner-target {
    display: block;
  }
}
@media (max-width: 768px) {
  .navegador {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
  }
  .navegador ul {
    position: fixed;
    top: 0;
    left: -500px;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    justify-content: start;
    background-color: #F6BE8B;
    box-shadow: 8px 11px 25px -10px rgba(0, 0, 0, 0.71);
    -webkit-box-shadow: 8px 11px 25px -10px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 8px 11px 25px -10px rgba(0, 0, 0, 0.71);
    z-index: 2;
    transition: 0.5s;
  }
  .navegador ul:hover {
    left: 0;
    margin: 0;
  }
  .navegador ul li a {
    margin-top: 40px;
    font-size: 24px;
  }
  .navegador ul li a .carrito-img {
    display: none;
  }
  .navegador ul li a .carro-txt {
    display: block;
  }
  .navegador ul li a h6 {
    margin-top: 40px;
    font-size: 24px;
  }
  .navegador ul li a img {
    margin-top: 20px;
  }
  .navegador .menu {
    display: block;
    padding: 10px;
    order: -1;
  }
  .navegador .menu:hover + ul {
    left: 0;
    margin: 0;
  }
  .navegador .form-mobile {
    display: flex;
    padding: 10px;
  }
  .navegador form input {
    width: 100%;
  }
  .form-desk {
    display: none;
  }
  .nav-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .whatsapp {
    bottom: 80px;
    right: 20px;
  }
  .whatsapp img {
    object-fit: cover;
    width: 50px;
  }
}
@media (max-width: 1200px) {
  .container-contactanos {
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
